/*!
CSS that I wrote
 */

.circle {
    border-radius: 50%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.img-portfolio {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

header .intro-text .name {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
}
